.channel-leaderboard,
.community-points-summary,
.stream-chat-header,
.community-highlight-stack__backlog-card,
.community-highlight-stack__scroll-area--disable {
    display: none !important;
}

.chat-input__hide {
    display: none !important;
}

html,
body {
    background-color: transparent !important;
}

.chat-room {
    background-color: rgba(0, 0, 0, 0) !important;
}

.chat-scrollable-area__message-container .chat-line__message,
.chat-line__moderation,
.chat-line__status,
.user-notice-line {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.simplebar-content {
    padding-bottom: 5px !important;
}

.chat-input {
    padding-bottom: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

button[data-a-target='chat-settings'] {
    display: none;
}

.bttv-split-chat-alt-bg {
    background-color: transparent !important;
}

.tc-chat-badge-hide {
    display: none;
}

.svg-icon {
    width: 20px;
    height: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #ffffff;
}

.svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
}
