.wrapper {
    position: absolute;
    z-index: 2147483647;
    resize: none;
    border: 2px solid transparent;
    border-radius: 5px;
}

.overlay-wrapper {
    min-width: 275px;
    min-height: 200px;
    height: 40%;
    width: 30%;
    display: none;
    overflow: auto;
}

.drag-wrapper {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.tgl-overlay-btn-wrapper {
    display: none;
}

.toggle-overlay-btn {
    width: 100% !important;
}