
/* TODO: TOGGLEABLES */

.class_hide {
    display: none !important;
}

.channel-leaderboard_hide {
    display: none !important;
}

.community-points-summary_hide {
    display: none !important;
}

.stream-chat-header_hide {
    display: none !important;
}

.community-highlight-stack__scroll-area--disable_hide {
    display: none !important;
}

.community-highlight-stack__backlog-card_hide {
    display: none !important;
}

.chat-input_hide {
    display: none !important;
}


/* OTHERS */

html, body {
    color: #FFFFFF!important;
    background: rgba(0,0,0,0)!important;
    background-color: rgba(0,0,0,0)!important;
    margin: 0 auto!important;
    overflow: hidden!important;
}

.chat-room {
    background-color: rgba(31, 31, 35, 0.25) !important;
}

.settings-wrapper {
    position: relative;
}

.chat-input-container {
    padding-bottom: 0.5rem;
}

.overlay-settings-container {
    z-index: 2147483647;
    position: absolute;
    width: 100%;
    border-radius: 5px;
}

.settings-sub-container {
    padding: 1rem;
}

.setting-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.settings-btn-container {
    z-index: 2147483647;
    position: absolute;
    top: -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input[type="range"] {
    height: 1em;
    background: rgb(31, 31, 35);
    border: 1px solid rgb(145,71,255);
    border-radius: 0.5em;
    -webkit-appearance: none !important;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: rgb(255, 255, 255);
    height: 0.6em;
    width: 0.6em;
    cursor: pointer;
    border-radius: 100%;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.toggle-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .toggle-slider {
    background-color: rgb(16, 16, 19) ;
}
 
input:focus + .toggle-slider {
    box-shadow: 0 0 1px rgb(145,71,255);
}
  
input:checked + .toggle-slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
  
  /* Rounded sliders */
.toggle-slider {
    border-radius: 34px;
}
  
.toggle-slider:before {
    border-radius: 50%;
}