.wrapper {
    position: absolute;
    z-index: 2147483647;
    resize: none;
    border-radius: 5px;
}

.chat-wrapper {
    height: 400px;
    width: 450px;
    min-width: 100px;
    min-height: 100px;
    flex-direction: column;
    overflow: auto;
}

.clip-wrapper {
    position: absolute;
    width: 512px;
    height: 288px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
}

.chat-header {
    z-index: 2147483647;
    display: none;
    margin-bottom: -30px;
    flex-direction: row-reverse;
}

.clip-header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}

.chat-area {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
}

.close-button {
   padding-right: 10px;
}

